@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora/static/Sora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sora';
  src: url('./assets/fonts/Sora/static/Sora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
    padding: 0;
    margin: 0;
  }
  
  *, *::before,
  *::after {
    box-sizing: border-box;
  }

  html, body {
    overflow-x: hidden;
  }
  

  body {
    font-family: 'Sora', sans-serif;
    background-color: rgb(20, 0, 34);
  }  
  button {
    font-family: 'Sora', sans-serif;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 12px;
  }

  a {
    text-decoration: none;
  }