.chat {
    padding: 0 15px;
    width: 100vw;
    height: 100vh;
    &-container {
        width: 100%;
        height: 78%;
        overflow: scroll;
    }
}

.chat-title {
    display: flex;
    align-items: center;
    column-gap: 50px;
    padding: 20px 0;
    margin-bottom: 20px;
    div {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        border: 1px solid #f0efff;
        font-size: 32px;
        background-color: #151820;
        border-radius: 22px;
        svg {
            color: #fff;
        }
    }
    h2 {
        font-size: 48px;
        color: #fff;
    }
}

.chat-user {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    column-gap: 12px;
    margin-bottom: 32px;
    &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
    &-message {
        width: 100%;
        padding: 20px 12px;
        font-size: 18px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 0px;
        background-color: red;
    }
}

.chat-ai {
    display: flex;
    align-items: flex-end;
    column-gap: 12px;
    margin-bottom: 32px;
    &-avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }
    &-message {
        width: 100%;
        padding: 20px 12px;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 20px;
        background-color: green;
    }
}

.chat-input {
    position: fixed;
    left: 0;
    width: 100%;
    bottom: calc(env(safe-area-inset-bottom, 0px)); /* ✅ Smart for iPhone with notches! */
    display: flex;
    justify-content: center;
    column-gap: 12px;
    padding: 10px 0 50px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    background-color: #fff;

    textarea {
        padding: 16px 24px;
        width: 70%;
        font-size: 20px;
        resize: none;
        border: none;
        overflow: scroll;
        border-radius: 16px;
        background-color: #f0efff;
        &:focus, &:hover {
            border: none;
            outline: none;
        }
    }
    button {
        padding: 8px 24px;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 16px;
        background-color: #f0efff;
        svg {
            color: #151820;
        }
    }
}


