#get-started {
    width: 100vw;
    height: 100vh;
    background-color: rgb(20, 0, 34);
}
.get-started {
    position: absolute;
    bottom: 5%;
    padding-right: 15px;
    &-title {
        font-size: 42px;
        font-weight: 700;
        max-width: 80%;
        color: #fff;
        span {
            color: rgb(143, 59, 199);
        }
    }
    &-button {
        margin-top: 20%;
        width: 100%;
        display: flex;
        gap: 20px;
        a {
            display: block;
            width: 100%;
        }
        button {
            display: block;
            width: 100%;
            font-weight: 600;
            padding: 14px 24px;
            border: none;
            border-radius: 20px;
            color: #fff;
            background-color: rgb(143, 59, 199);
        }
        &-active {
            color: rgb(143, 59, 199) !important;
            background-color: #fff !important;
        }
    }
    &-terms {
        margin-top: 10%;
        text-align: center;
        font-size: 12px;
        a {
            color: #0000EE !important;
        }
    }
}
